{% extends 'coins/base.html' %} 
{% block title %} 
{{ owner }}'s cabinet 
{% endblock %} 
{% block content %}
<h3>{{ owner }}'s cabinet</h3>
<h4>Coins for change </h4>
<div class="row">
  {% for coin in owner.profile.active_coins %} 
  <div class="col-3 text-center border">
    <a href="{% url 'coins:coin-detail' pk=coin.id %}">
      <img
        src="{{ coin.img_front.url }}"
        alt="coin"
        class="w-75 h-75 object-fit-contain border rounded"
      />
    </a>
    <p>
      {{ coin.country }}
      <br />
      {{ coin.denomination }} {{ coin.year }}
      <br>
      {{ coin.get_status_display }}
    </p>
  </div>
  {% endfor %}
</div>
{% if owner == user %}
<br>
<h5>Exchanged coins</h5>
  
  
  {% for coin in owner.profile.exchanged_coins %}
  <div class="row">
    <div class="col-3 p-5">
      <img src="{{ coin.img_front.url }}" class="w-100">
      <p>{{coin}}</p>
    </div>
    <div class="col-6 pt-5">
      <form method="post" action="{% url 'coins:coin-change-status' %}">
        {% csrf_token %}
        <select name="status" id="">
          <option value="">--Please choose status--</option>
          <option value="a">Active</option>
          <option value="w">Deliver to me</option>
        </select>
        <input type="submit" value="change status" class="btn btn-primary">
        <input type="hidden" name="pk" value="{{coin.id}}">
      </form>
    </div>

  </div>
  {% endfor %}
{% endif %}
{% if user.is_authenticated and user != owner %}
<a href="{% url 'coins:multi-offer' pk=owner.id %}" class="btn btn-primary my-2">
    Create multioffer 
</a>
<h5>Create message to {{ owner }}</h5>
<form action="{% url 'coins:message-from-cabinet' pk=user.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="author_id" value="{{ user.id }}">
    <input type="hidden" name="recipient_id" value="{{ owner.id }}">
    <input type="submit" value="send message" class="btn btn-primary">
</form>
{% endif %}
<h4>My offer to ennother user</h4>
{% if offers_made or multi_offers_made %}
  <div class="row">
    {% for offer in offers_made %}
      <div class="col-12">
        <p>
          You suggested {{ offer.coin_to_give }} for {{ offer.coin_to_get }} user {{ offer.responder.username }} 
          {% if offer.status == 'c' %}
            <form action="{% url 'coins:cancel-offer' pk=offer.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Cancel offer" class="btn btn-danger">
            </form>
          {% endif %}
        </p>
      </div>
    {% endfor %}

    {% for multi_offer in multi_offers_made %}
      <div class="col-12">
        <p>
          You suggested {{ multi_offer.coins_to_give.all|join:', ' }} for {{ multi_offer.coins_to_get.all|join:', ' }} user {{ multi_offer.responder.username }}
          {% if multi_offer.status == 'c' %}
            <form action="{% url 'coins:cancel-multi-offer' pk=multi_offer.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Cancel multioffer" class="btn btn-danger">
            </form>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

{% endif %}

{% endblock %}
